extends layout

block content
  section.cover.container-fluid
    .row
      .col-lg-12
        .cover-heading
          h1 Track your everyday process
          p Wecome to My Every Lift
  div(ng-if="signupWindow.show" login-module)


