doctype html
html
  head
    title My Every Lift
    meta(name="viewport" ,content="width=device-width")
    link(rel="stylesheet" , href="/css/bootstrap.min.css")
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
script(src="/js/lib/jquery-1.11.3.js")
script(src="/js/lib/bootstrap.min.js")
script(src="/js/lib/angular/angular.min.js")
script(src="/js/lib/angular/angular-route.min.js")

