<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Lift Bro
	link(rel="stylesheet", href="/css/normalize.css")
	link(rel="stylesheet" , href="/css/bootstrap.min.css")
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
body
	nav#nav
	h1 Wecome to Lift Bro , #{name}
	p This is the application page
script(src="js/app.js")
