<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport" ,content="width=device-width")
	title Lift Bro
	link(rel="stylesheet", href="/css/normalize.css")
	link(rel="stylesheet" , href="/css/bootstrap.min.css")
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
	link(rel="stylesheet" ,href="/css/app.css")
body
	nav#nav
	h1 Wecome to Lift Bro , #{name}
	p This is the application page
	#calendar
script(src="/js/nav.js")
script(src="/js/calendar.js")
